
.demo-content .fl-row {
    margin-bottom: 20px;
}

.demo-content {
    max-width:900px;
}

.demo-content .fl-input {
    width:180px;
}

.demo-input-suffix {
    margin-bottom: 15px;
}

.demo-input-suffix .fl-input {
    margin-right: 15px;
}