
.demo-content .fl-row {
    margin-bottom: 20px;
}

.demo-content {
    max-width:900px;
}

.demo-content .fl-input {
    width:180px;
}

.demo-input-suffix {
    margin-bottom: 15px;
}

.demo-input-suffix .fl-input {
    margin-right: 15px;
}

.demo-content .fl-textarea {
    width: 414px;
}

.demo-content .fl-input-group {
    width: 100%;
}

.demo-content .demo-input-size .fl-input {
    vertical-align: top;
    width:150px;
    margin: 0 10px 10px 0;
}